# Project exclude paths
/cmake-build-release/
/output
/.idea/
/build/
*spec
gate-difficulty.xlsx
pyinstaller.bat
/results/
/__pycache__/
/notes/
/cmake-build-debug/
/tests/unittests/test_files/reader_output.pdb
/tests/unittests/test_files/reader_kept.pdb
/tests/unittests/test_files/reader_skipped.pdb
/tests/unittests/test_files/log.yaml
/tests/unittests/test_files/kept.pdb
/tests/unittests/test_files/skipped.pdb
/tests/unittests/propores_tests.exe
overview.tsv
/publication/
propores.exe
ProporesGUI_32.exe
ProporesGUI_64.exe
input_own/

# Notes
*.pdf
*.xls
*.docx
*.doc
*.png
*.jpg
*.jpeg

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app